<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="#800080" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/wave.png)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>

        <div *ngIf="!isConnected">
            <div id="overlay">
            </div>
            <div class="card" id="connectivity" style="width: 30%;">
              <div class="card-body">
                <h5 class="card-title">Attention</h5>
                <p class="card-text">World's shortest horror story is no internet.</p>
              </div>
            </div>
        </div>
     
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown open show">
            <a href="#" data-toggle="dropdown" aria-expanded="true">
                <!-- <i class="fa fa-cog fa-2x"> </i> -->
            </a>
            
        </div>
    </div>
</div>

