<html style="height: 100vh;">
<body style="height: 100vh; background-image: url('./assets/img/abc.jpg');
background:linear-gradient(to bottom, #7b1fa2 0%,#9C27B0 50%,#000000 50%,white 50%,white 100%)">
<div class="container" style="height: 100%; display: flex; justify-content: center; align-items: center;">
  <mat-spinner *ngIf="isLoading" >
  </mat-spinner>
  <div *ngIf="!isLoading" class="card col-md-4" style="box-shadow: grey; " >
    
  
    <form class="form-horizontal"  #authForm= "ngForm" (ngSubmit)="onLogin(authForm)"  style="padding-left: 4em;padding-right: 4em;padding-bottom: 2em;padding-top: 2em;" >
      <div class="container">
        <div class="form-group" style="justify-content: center;" >
        

          <b>
            <h3 style="text-align: center; color:#114761; font-size: large;font-family: cursive;">Medizone</h3>   
          </b>
        
          <mat-form-field appearance ="legacy"> 
          
            <mat-icon  matSuffix style="opacity: 90%;">email</mat-icon>         
            <input matInput
            ngModel 
            name="email" 
            type="email" 
            class="form-control" 
            id="email" 
            placeholder="Enter email"
            >
          </mat-form-field>
        
    
          <mat-form-field appearance ="legacy">
         
          <mat-icon matSuffix style="opacity: 90%;">vpn_key</mat-icon>
          <input matInput 
          type="password" 
          class="form-control" 
          id="password" 
          ngModel 
          name="password"
          placeholder="Enter password"
          >
         
          <div class="alert alert-danger" *ngIf="authError">
            <p>{{ authError }}</p>
          </div>

         
          </mat-form-field>
          <button class="mat-raised-Button" type="submit" style="background-color: #114761 !important;"
          class="btn btn-primary pull-right" 
          [disabled] = "!authForm.valid">
          <mat-icon>login</mat-icon>
          Login
        </button>
        <br>
 
      </div>

      </div>
     

     
    </form>
  </div>
</div>
</body>
</html>