
<h2 mat-dialog-title>Sponsor Details</h2>
<mat-dialog-content >
 <mat-form-field>
     <mat-label>Sponsor Name</mat-label>
    <input matInput type ="text" name="name" [(ngModel)] ="name">
 </mat-form-field>

 <mat-label *ngIf = "check()">Add Image</mat-label>
 <mat-label *ngIf = "check2()">Update Image</mat-label>
 <br>
 <input type = "file" (change)="upload($event)" accept="image/*">

 <mat-spinner *ngIf = "spin" ></mat-spinner>
 
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click) = "save()">Save</button>
  </mat-dialog-actions>
