<div class="main-content">
    <div class="container-fluid" style="padding: 2em 2em 4em;">
        <mat-tab-group>
            <mat-tab label = "Personal Info">
                <div class="card">
                    <div class="card-header colorcode"  >
                        <p style="font-size: large;color: white;">
                            Personal Info
                        </p>
                    </div>
                    <div class="card-body">
                        <form class="example-form">
                            <div class="row">
                                <mat-form-field class="col">
                                  <mat-label>Select Salutation</mat-label>
                                  <mat-select  name = "salutation" [(ngModel)] = "doctor.salutation">
                                    <mat-option [value] = 0>Dr</mat-option>
                                    <mat-option [value] = 1>Mr</mat-option>
                                    <mat-option [value] = 2>Ms</mat-option>
                                    <mat-option [value] = 3>Mrs</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                
                                <mat-form-field class="col" >
                                  <input matInput type="text" name="fname" placeholder="First Name" [(ngModel)] = "doctor.fname">
                                </mat-form-field>

                                <mat-form-field class="col" >
                                  <input matInput type="text" name="lname" placeholder="Last Name" [(ngModel)] = "doctor.lname">
                                </mat-form-field>
                      
                               
                      
                                <mat-form-field class="col">
                                  <mat-label>Select Gender</mat-label>
                                  <mat-select name ="gender" [(ngModel)] = "doctor.gender">
                                    <mat-option [value] = 0>Male</mat-option>
                                    <mat-option [value] = 1>Female</mat-option>
                                    <mat-option [value] = 2>Others</mat-option>
                                    
                                  </mat-select>
                                </mat-form-field>
                      
                               
                      
                                </div>
                      
                               <div class="row">
                      
                                <mat-form-field class="col" >
                                  <input matInput type="email" name="email" placeholder="Enter email" [(ngModel)] = "doctor.email" >
                                </mat-form-field>
                      
                                <mat-form-field class="col" >
                                  <input matInput type="text" name="phone" placeholder="Enter Phone" [(ngModel)] = "doctor.mobile" >
                                </mat-form-field>
                      
                                <mat-form-field class="col">
                                  <mat-label>Select City</mat-label>
                                  <mat-select name = "cityId" [(ngModel)] = "doctor.city.cityId">
                                    <mat-option *ngFor  ="let city of cities" [value] ="city.cityId">
                                      {{city.cityName}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                               </div>
                      
                      
                               <div class="row">
                                <mat-form-field class="col">
                                  <mat-label>Select Category</mat-label>
                                  <mat-select name="cat" [(ngModel)] ="doctor.category.categoryId">
                                    <mat-option *ngFor  ="let cat of categories" [value] ="cat.categoryId">
                                      {{cat.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                      
                                <div class="col">
                                  <label>Doctor Image</label>
                                  <input type="file" (change) = "uploadd($event )" 
                                  style="color: blueviolet;" name="Doctor Image" placeholder="Doctor Image">
                                </div>
                               </div>
                      </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header colorcode" >
                        <p style="font-size: large;color: white;">
                            Qualifications
                        </p>
                    </div>
                    <div class="card-body">
                        <mat-selection-list  name = "qual" [(ngModel)] ="qual" >
                            <mat-list-option *ngFor  ="let add of qualifications;index as i" [value] ="add.qualificationHashCode">
                
                              <div class="row">

                                
                                  {{add.name}}
                                
                                    <!-- <img width="100px" height="100px" class="img-rounded" src= {{add.imageUrl}} alt="No Image Yet"> -->
                               
                                    
                                  <!-- <input type = "file" placeholder="Enter Certificate Image"  style="color: blueviolet;"
                                  name ="abc" (change) = "upload($event,i)"> -->
                                
                              
                              </div>
                             
                              
                            </mat-list-option>
                          </mat-selection-list>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header colorcode" >
                        <p style="font-size: large;color: white;">
                            Work Experience
                        </p>
                    </div>
                    <div class="card-body-responsive">
                        <mat-list role="list">
                        <mat-list-item  *ngFor = "let obj of doctor.workExperience" class="row">
                          

                            <div class="col">
                                 Organization Name - {{obj.name}}
                            </div>
                            <div class="col">
                              Start Date -  {{obj.startDate.toDate() | date: 'yyyy-MM-dd' }}
                            </div>
                            <div class="col">
                                End Date -  {{obj.endDate.toDate() | date: 'yyyy-MM-dd' }}
                            </div>

                            <!-- <img class="col" height="10px" width="10px" src= {{obj.imageUrl}} alt="No Image Yet"> -->
                            
                            

                        </mat-list-item>
                        
                        </mat-list>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label = "Time Slots">
               <div class="card">
               <div class="card-header colorcode">
                 <p style="font-size: large;color: white;"> Time Slots </p>
               </div>
              
              <div class="card-body col-md-12" >
                <table class ="table ">
                  <tbody>
                    <tr  >
                      <th>Name</th> <th>Start Time</th> <th>End Time</th> <th> Average Time</th><th>No of Slots</th>
                    </tr>
                    <tr *ngFor = "let obj of sessions">
                      <td>{{obj.name}}</td> 
                      <td>{{obj.fromTime.toDate() | date : 'hh:mm'}}</td>
                      <td>{{obj.toTime.toDate() | date : 'hh:mm'}}</td>
                      <td>{{obj.averageTime}}</td>
                      <td>{{obj.noOfSlots}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            </mat-tab>
            <mat-tab label = "Day Schedules">
              <div class="card">
                <div class="card-header colorcode">
                  <p style="font-size: large;color: white;"> Day Wise Schedules </p>
                </div>
              <div class="card-body col-md-12">
                <table class ="table ">
                  <tbody>
                    <tr >
                      <th>Name</th> <th>No of Sessions</th> <th>Time Slots</th>
                    </tr>
                    <tr *ngFor = "let obj of schedules">
                      <td>{{obj.name}}</td> 
                      <td>{{obj.noOfSessions}}</td>
                      <td>
                       
                        <table class ="table ">
                          <tbody>
                            <tr>
                              <th>Name</th> <th>Start Time</th> <th>End Time</th> <th> Average Time</th><th>No of Slots</th>
                            </tr>
                            <tr *ngFor = "let obj2 of obj.sessions">
                              <td>{{obj2.name}}</td> 
                              <td>{{obj2.fromTime.toDate() | date : 'hh:mm'}}</td>
                              <td>{{obj2.toTime.toDate() | date : 'hh:mm'}}</td>
                              <td>{{obj2.averageTime}}</td>
                              <td>{{obj2.noOfSlots}}</td>
                            </tr>
                          </tbody>
                        </table>
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
            </mat-tab>
            <mat-tab label = "Slots" class="d-flex justify-content-center">
              <div class="card">
                  <div class="card-header colorcode">
                    
                      <form>
                        <mat-form-field class="col">
                        <mat-label>Choose  Date</mat-label>
          
                      
                      <input matInput [matDatepicker]="picker2" name = "sposnorStart"  style="color: white;"
                      [(ngModel)] ="date" (ngModelChange) ="call()">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker> 
                      </mat-form-field>
                      </form>
                      
                  
                </div>
              </div>
                
                  <div class="card">
                    <div class="card-header colorcode">
                      <p style="font-size: large;color: white;">
                        Group Wise Slots
                    </p>
                    </div>
                    <div class="card-body">
                      <table class="table">
                        <thead>
                        <th>From</th> <th>To</th> <th>No of Filled Slots</th>
                        </thead>
                        <tbody>
                          <tr *ngFor  = "let obj of groupSlot">
                            <td>{{obj.nameFrom}}</td>
                            <td>{{obj.nameTo}}</td>
                            <td>{{obj.noOfFilledSlots}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header colorcode">
                      <p style="font-size: large;color: white;">
                        Single Group Slots
                    </p>
                      
                    </div>

                    <div class="card-body">
                    <table class="table">
                      <thead>
                      <th>Appointment Id</th> <th>Filled</th> <th>From </th> <th>To</th>
                      </thead>
                      <tbody>
                        <tr *ngFor  = "let obj of single_slot">
                          <td>{{obj.appointmentId}}</td>
                          <td *ngIf = "obj.filled == true" >Yes</td>
                          <td *ngIf = "obj.filled == false" >No</td>
                         
                          <td>{{obj.from.toDate() | date : 'HH:mm:ss'}}</td>
                          <td> {{obj.to.toDate() | date : 'HH:mm:ss'}}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>

              
               
            </mat-tab>
            <mat-tab label = "Appointments">
                
            </mat-tab>
        </mat-tab-group>
    </div>
</div>