<div class="main-content">
    <div class="container-fluid">
      <div class="col-md-9">
        <div class="card">
            <div class="card-header ">
                <!-- <h4 class="card-title">Cities </h4> -->

                <!-- <mat-form-field>
                    <input matInput type="text" name ="cat" [(ngModel)] ="cat" placeholder="Enter Category">
                </mat-form-field> -->
                <button mat-raised-buuton class="btn  pull-right colorcode" (click) = "addsponsor()"
                >Add Sponosor
                    <mat-icon>add</mat-icon></button> 
               
                
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-">
                        <th> S No</th>   
                        <th>Sponsor Image</th>                      
                        <th> Sponsor Name</th>
                        <th> Edit </th>
                        <!-- <th> Delete</th> -->
                    </thead>
                    <tbody>
                        <tr *ngFor = "let add of added , index as i">
                            <td>{{i+1}}</td>
                            <td>
                                <!-- <img width="120px" height="100px" class="img-rounded" src ={{add.sponsorImageUrl}} alt="No Image Yet"> -->
                                <button mat-icon-button (click) ="openImage(add.sponsorImageUrl)">
                                    <mat-icon>add_a_photo</mat-icon>
                                </button>
                            </td>
                            <td>
                                {{add.name}}
                            </td>
                            <td>
                                <button mat-button (click)="edit(add)" style="color: blueviolet;">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                           
                            
                        </tr>
                    </tbody>
                    
                </table>
                
            

            </div>
        </div>
     </div>
           
    </div>
  </div>
  