<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">location_city</i>
                      </div>
                      <p class="card-category">Cities Registered</p>
                      <h3 class="card-title">{{global['noOfCities']}}
                          <small></small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                           Active + De-Active...
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">person</i>
                      </div>
                      <p class="card-category">Sponosors Assosciated</p>
                      <h3 class="card-title">{{global['noOfSponsors']}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Overall Sponsors 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">fact_check</i>
                      </div>
                      <p class="card-category"> Categories Assocaited</p>
                      <h3 class="card-title">{{global['noOfDoctorCategories']}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Specializations..
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">medical_services</i>
                      </div>
                      <p class="card-category">Doctors Associated</p>
                      <h3 class="card-title">{{global['noOfDoctor']}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Doctor Count from all Cities
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                    <p class="card-category">No of Patients Associated</p>
                    <h3 class="card-title">{{global['noOfPatients']}}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">update</i> Patients Count from all Cities
                    </div>
                </div>
            </div>
        </div>
      </div>


      <div class="row" >
         <div class="col-md-12" >
             <div class="card" >
                 <div class="card-header row">
                    
                    <mat-form-field class="col-md-3">
                        <mat-label>Select City</mat-label>
                        <mat-select [(ngModel)] = "cityId">
                        <mat-option *ngFor ="let city of cities" [value] = "city.cityId">{{city.cityName}}</mat-option>
                    </mat-select>
                      
                    </mat-form-field>

                    <mat-form-field class="col-md-3">
                     <mat-label>Choose  Date</mat-label>

                
                    <input matInput [matDatepicker]="picker2" name = "date" [(ngModel)] ="date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                    </mat-form-field>

                    
                    <mat-slide-toggle class="col-md-3"  [(ngModel)] = "monthly"  (ngModelChange) ="change()" >
                        {{stats}} </mat-slide-toggle>

                    <div class="col-md-3">
                        <button mat-raised-button class=" btn  colorcode" (click) ="apply()">Apply
                        </button> 
                    </div>
                    
                    
                    
                 </div>
             </div>
         </div> 

      </div>


      <div class="row">
          
          <div class="col-md-6">
              <div class="card ">
                  <div class="card-header card-header-danger">
                       Appointments Category Wise
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <table class="table table-responsive">
                          <thead><th>Category Name</th> <th></th> <th>Count</th></thead>
                          <tbody>
                              <tr *ngFor = "let obj of categoryAppointment">
                                  <td>{{obj.categoryname}}</td> <td></td><td>{{obj.count}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card ">
                  <div class="card-header card-header-primary">
                      Doctors Category Wise
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                    <table class="table table-responsive">
                        <thead><th>Category Name</th><th></th> <th>Count</th></thead>
                        <tbody>
                            <tr *ngFor = "let obj of categoryDoctor">
                                <td>{{obj.categoryname}}</td> <td></td><td>{{obj.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
     
  </div>
</div>
