<div class="main-content">
    <div class="container-fluid">
      <div class="col-md-9">
        <div class="card">
            <div class="card-header ">
                <!-- <h4 class="card-title">Cities </h4> -->

                <button mat-raised-buuton class="btn  pull-right" (click) ="addqualification()"
                style="background: linear-gradient(#ba68c8,#ab47bc,#9c27b0,#8e24aa);">Add Qualification
                    <mat-icon>add</mat-icon></button> 
               
                
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-">
                        <th> S No</th>                         
                        <th> Qualification</th>
                        <th> Edit </th>
                        <!-- <th> Delete</th> -->
                    </thead>
                    <tbody>
                        <tr *ngFor = "let add of qualifications , index as i">
                            <td>{{i+1}}</td>
                            <td>
                                {{add.name}}
                            </td>
                            <td>
                                <button mat-button (click)="edit(add)" style="color: blueviolet;">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                           
                           
                            
                        </tr>
                    </tbody>
                    
                </table>
                
            

            </div>
        </div>
     </div>
           
    </div>
  </div>
  