
  <h1 mat-dialog-title>Patient Reports</h1>
  <div mat-dialog-content class="mat-typography" style="padding: 1em;">
      
        <table class="table" style="padding: 2em;">
          <thead>
            <th> Title</th>
            <th></th>
            <th> Creation Date</th>
            <th></th>
            <th> Report</th>
          </thead>

          <tbody>
            <tr *ngFor = "let obj of reports">
              <td>{{obj.title}}</td>
              <td></td>
              <td>{{obj.createDate.toDate() | date : 'dd/MM/yyyy'}}</td>
              <td></td>
              <td>
                <button  mat-icon-button (click)="goToLink(obj.fileUrl)">
                  <mat-icon>assignment</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      
  </div>
  <div mat-dialog-actions>
    <button mat-button  mat-dialog-close>Close</button>
  </div>


